Impor Pustaka (Library)

In [1]:
import pandas as pd
import numpy as np

1. Memuat Data

Menggunakan fungsi read_csv dari pandas untuk membaca data dari sebuah file bernama movie_sample_dataset.csv. Hasilnya adalah sebuah DataFrame yang disimpan ke dalam variabel bernama df.

In [2]:
df = pd.read_csv('movie_sample_dataset.csv')
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

2. Memeriksa Data

*   Menampilkan 50 baris pertama dari dataset dengna tujuan untuk mendapatkan gambaran yang lebih luas tentang isi data, yang bisa membantu dalam mengidentifikasi pola atau anomali yang tidak terlihat hanya dengan 5 baris.
*   Mendapatkan Informasi Umum DataFrame. Informasi yang diberikan mencakup struktur data secara keseluruhan, seperti total baris dan kolom, beserta rincian untuk setiap kolomnya, termasuk nama, tipe data (misalnya teks atau angka), dan jumlah data yang terisi. Selain itu, perintah ini juga memberikan perkiraan berapa banyak memori yang digunakan untuk menyimpan data tersebut.

In [3]:
# Menampilkan 50 baris pertama dari dataset
print("\nBeberapa baris pertama dari dataset:")
print(df.head(50))

Beberapa baris pertama dari dataset:
               color         director_name  duration        gross  \
0              Color       Martin Scorsese       240  116866727.0
1              Color           Shane Black       195  408992272.0
2             color      Quentin Tarantino       187   54116191.0
3              Color      Kenneth Lonergan       186      46495.0
4              Color         Peter Jackson       186  258355354.0
5                NaN                   NaN       183  330249062.0
6              Color         Peter Jackson       -50  303001229.0
7              Color           Edward Hall       180          NaN
8              Color           Joss Whedon       173  623279547.0
9              Color           Joss Whedon       173  623279547.0
10               NaN            Tom Tykwer       172   27098580.0
11             Color                  Null       158  102515793.0
12             Color   Christopher Spencer       170   59696176.0
13             Color     Christopher Nolan       169  187991439.0
14             Color          F. Gary Gray       167  161029270.0
15               NaN     Richard Linklater       165   25359200.0
16             Color     Quentin Tarantino       580  162804648.0
17             Color           Michael Bay       165  245428137.0
18               NaN     Christopher Nolan       164  448130642.0
19             Color         Peter Jackson       164  255108370.0
20             Color            Tom Hooper       158  148775460.0
21             Color            Tom Hooper       158  148775460.0
22             Color       Kathryn Bigelow       157   95720716.0
23             Color          Ridley Scott       156  105219735.0
24             Color                   NaN       156  183635922.0
25             Color           Michael Bay       154  352358779.0
26             Color      Denis Villeneuve       153   60962878.0
27             Color     Gnana Rajasekaran       153          NaN
28             Color             Marc Webb       153  262030663.0
29             Color                   Nan       151  228430993.0
30             Color          Ridley Scott       150   65007045.0
31             Color          Ridley Scott       150   65007045.0
32             Color                   NaN       150  182204440.0
33             Color            Mike Leigh       150    3958500.0
34             Color        Gore Verbinski       650   89289910.0
35             Color         David Fincher       149  167735396.0
36             Color          Bryan Singer       149  233914986.0
37             Color             Jay Oliva       148          NaN
38             Color     Christopher Nolan       148  292568851.0
39             Color  Paul Thomas Anderson       148    8093318.0
40             Color            Sam Mendes       148  200074175.0
41             Color                   NaN       147  407197282.0
42             Color  Michael Patrick King       146   95328937.0
43             Color           Tate Taylor       146  169705587.0
44             Color      Francis Lawrence       146  424645577.0
45   Black and White      Steven Spielberg       146   79883359.0
46             Color           Michael Bay       144   52822418.0
47             Color       Guillaume Canet       144      41229.0
48             Color  Paul Thomas Anderson       144   16377274.0
49             Color          Bryan Singer       144  154985087.0

                                      genres  \
0               Biography|Comedy|Crime|Drama
1                    Action|Adventure|Sci-Fi
2       Crime|Drama|Mystery|Thriller|Western
3                                      Drama
4                          Adventure|Fantasy
5                    Action|Adventure|Sci-Fi
6                          Adventure|Fantasy
7                              Drama|Romance
8                    Action|Adventure|Sci-Fi
9                    Action|Adventure|Sci-Fi
10                              Drama|Sci-Fi
11              Crime|Drama|Mystery|Thriller
12                                       NaN
13                    Adventure|Drama|Sci-Fi
14       Biography|Crime|Drama|History|Music
15                                     Drama
16                             Drama|Western
17                   Action|Adventure|Sci-Fi
18                           Action|Thriller
19                         Adventure|Fantasy
20                     Drama|Musical|Romance
21                     Drama|Musical|Romance
22                    Drama|History|Thriller
23            Action|Adventure|Drama|History
24          Adventure|Drama|Thriller|Western
25                   Action|Adventure|Sci-Fi
26              Crime|Drama|Mystery|Thriller
27                   Biography|Drama|History
28                  Action|Adventure|Fantasy
29                    Adventure|Drama|Sci-Fi
30                    Action|Adventure|Drama
31                    Action|Adventure|Drama
32               Biography|Drama|History|War
33                   Biography|Drama|History
34                  Action|Adventure|Western
35              Crime|Drama|Mystery|Thriller
36  Action|Adventure|Fantasy|Sci-Fi|Thriller
37    Action|Animation|Crime|Sci-Fi|Thriller
38          Action|Adventure|Sci-Fi|Thriller
39        Comedy|Crime|Drama|Mystery|Romance
40                 Action|Adventure|Thriller
41                   Action|Adventure|Sci-Fi
42                      Comedy|Drama|Romance
43                                     Drama
44                 Adventure|Sci-Fi|Thriller
45                                 Drama|War
46                 Action|Drama|Thriller|War
47                      Crime|Drama|Thriller
48                                     Drama
49                   Action|Adventure|Sci-Fi

                                  movie_title  title_year language  \
0                     The Wolf of Wall Street        2013  English
1                                  Iron Man 3        2013  English
2                           The Hateful Eight        2015  English
3                                    Margaret        2011  English
4         The Hobbit: The Desolation of Smaug        2013  English
5          Batman v Superman: Dawn of Justice         202  English
6           The Hobbit: An Unexpected Journey        2012  English
7                                    Restless        2012  English
8                                The Avengers        2012  English
9                                The Avengers        2012  English
10                                Cloud Atlas        2012  English
11            The Girl with the Dragon Tattoo        2011  English
12                                 Son of God        2014  English
13                               Interstellar        2014  English
14                     Straight Outta Compton        2015  English
15                                    Boyhood        2014  English
16                           Django Unchained        2012  English
17            Transformers: Age of Extinction        2014  English
18                      The Dark Knight Rises        2012  English
19  The Hobbit: The Battle of the Five Armies        2014  English
20                             Les Misérables        2012  English
21                             Les Misérables        2012  English
22                           Zero Dark Thirty        2012  English
23                                 Robin Hood        2010  English
24                               The Revenant        2015  English
25             Transformers: Dark of the Moon        2011  English
26                                  Prisoners        2013  English
27                                  Ramanujan        2014  English
28                     The Amazing Spider-Man        2012  English
29                                The Martian        2015  English
30                     Exodus: Gods and Kings        2014  English
31                     Exodus: Gods and Kings        2014  English
32                                    Lincoln        2012  English
33                                 Mr. Turner        2014  English
34                            The Lone Ranger        2013  English
35                                  Gone Girl        2014  English
36                 X-Men: Days of Future Past        2014  English
37    Batman: The Dark Knight Returns, Part 2        2013  English
38                                  Inception        2010  English
39                              Inherent Vice        2014  English
40                                    Spectre        2015  English
41                 Captain America: Civil War        2016  English
42                         Sex and the City 2        2010  English
43                                   The Help        2011  English
44            The Hunger Games: Catching Fire        2013  English
45                                  War Horse        2011  English
46                                   13 Hours        2016  English
47                                 Blood Ties        2013  English
48                                 The Master        2012  English
49                          X-Men: Apocalypse        2016  English

          country       budget  imdb_score  \
0             USA  100000000.0         8.2
1             USA  200000000.0         7.2
2             USA   44000000.0         7.9
3             usa   14000000.0         6.5
4             USA  225000000.0         7.9
5             USA  250000000.0         6.9
6             USA  180000000.0         7.9
7              UK          NaN         7.2
8             USA  220000000.0         8.1
9             USA  220000000.0         8.1
10        Germany  102000000.0        -7.5
11            USA   90000000.0         7.8
12            USA   22000000.0         5.6
13            USA  165000000.0         8.6
14            USA   28000000.0         7.9
15            USA    4000000.0         8.0
16            USA  100000000.0         8.5
17            USA  210000000.0         5.7
18            USA  250000000.0         8.5
19    New Zealand  250000000.0         7.5
20            USA   61000000.0         7.6
21            USA   61000000.0         7.6
22            USA   40000000.0         7.4
23            USA  200000000.0         6.7
24            USA  135000000.0         8.1
25            USA  195000000.0         6.3
26            USA   46000000.0         8.1
27          India          NaN         7.0
28            USA  230000000.0         7.0
29            USA  108000000.0         8.1
30             UK  140000000.0         6.1
31             UK  140000000.0         6.1
32            USA   65000000.0         7.4
33             UK          NaN         6.8
34            USA  215000000.0         6.5
35            USA   61000000.0         8.1
36  United States  200000000.0         8.0
37            USA    3500000.0         8.4
38            USA  160000000.0         8.8
39            USA   20000000.0         6.7
40             UK  245000000.0         6.8
41            USA  250000000.0         8.2
42            USA  100000000.0         4.3
43            USA   25000000.0         8.1
44            USA  130000000.0         7.6
45            usa   66000000.0         7.2
46            USA   50000000.0         7.4
47         France   25500000.0         6.5
48            USA   32000000.0         7.1
49            USA  178000000.0         7.3

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
5            Henry Cavill,Lauren Cohan,Alan D. Purwin                197000
6               Aidan Turner,Adam Brown,James Nesbitt                166000
7       Rufus Sewell,Hayley Atwell,Charlotte Rampling                   434
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
10               Tom Hanks,Jim Sturgess,Jim Broadbent                124000
11        Robin Wright,Goran Visnjic,Joely Richardson                 54000
12           Roma Downey,Amber Rose Revah,Darwin Shaw                 15000
13    Matthew McConaughey,Anne Hathaway,Mackenzie Foy                349000
14        Aldis Hodge,Neil Brown Jr.,R. Marcos Taylor                 76000
15     Ellar Coltrane,Lorelei Linklater,Libby Villari                 92000
16     Leonardo DiCaprio,Christoph Waltz,Ato Essandoh                199000
17            Bingbing Li,Sophia Myles,Kelsey Grammer                 56000
18      Tom Hardy,Christian Bale,Joseph Gordon-Levitt                164000
19              Aidan Turner,Adam Brown,James Nesbitt                 65000
20          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
21          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
22      Jennifer Ehle,Harold Perrineau,Parker Sawyers                 39000
23                Mark Addy,William Hurt,Scott Grimes                 17000
24             Leonardo DiCaprio,Tom Hardy,Lukas Haas                190000
25          Glenn Morshower,Lester Speight,Kevin Dunn                 46000
26        Hugh Jackman,Jake Gyllenhaal,Dylan Minnette                 86000
27         Mani Bharathi,Michael Lieber,Kevin McGowan                    58
28             Emma Stone,Andrew Garfield,Chris Zylka                 56000
29             Matt Damon,Donald Glover,Benedict Wong                153000
30       Christian Bale,María Valverde,Ben Mendelsohn                 51000
31       Christian Bale,María Valverde,Ben Mendelsohn                 51000
32     Joseph Gordon-Levitt,Hal Holbrook,Bruce McGill                 71000
33            Lesley Manville,Ruth Sheen,Karl Johnson                     0
34              Johnny Depp,Ruth Wilson,Tom Wilkinson                 48000
35          Patrick Fugit,Sela Ward,Emily Ratajkowski                146000
36      Jennifer Lawrence,Peter Dinklage,Hugh Jackman                 82000
37           Michael Emerson,Mark Valley,Grey Griffin                  5000
38   Leonardo DiCaprio,Tom Hardy,Joseph Gordon-Levitt                175000
39  Martin Dew,Katherine Waterston,Serena Scott Th...                 18000
40      Christoph Waltz,Rory Kinnear,Stephanie Sigman                 85000
41   Robert Downey Jr.,Scarlett Johansson,Chris Evans                 72000
42             Chris Noth,Liza Minnelli,Kristin Davis                     0
43          Emma Stone,Bryce Dallas Howard,Mike Vogel                 75000
44  Jennifer Lawrence,Josh Hutcherson,Sandra Ellis...                 82000
45    Jeremy Irvine,Benedict Cumberbatch,Eddie Marsan                 28000
46     Toby Stephens,James Badge Dale,David Costabile                 44000
47                Mila Kunis,Lili Taylor,Billy Crudup                     0
48     Mike Howard,Jeffrey W. Jenkins,Bruce Goodchild                 27000
49  Jennifer Lawrence,Michael Fassbender,Tye Sheridan                 54000

In [39]:
# Memeriksa informasi umum tentang dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 84 non-null     object
 1   director_name         84 non-null     object
 2   duration              84 non-null     float64
 3   gross                 84 non-null     float64
 4   genres                84 non-null     object
 5   movie_title           84 non-null     object
 6   title_year            84 non-null     int64
 7   language              84 non-null     object
 8   country               84 non-null     object
 9   budget                84 non-null     float64
 10  imdb_score            84 non-null     float64
 11  actors                84 non-null     object
 12  movie_facebook_likes  84 non-null     int64
dtypes: float64(4), int64(2), object(7)
memory usage: 11.2+ KB

Dataset ini berisi kumpulan data 99 film, di mana setiap film dijelaskan melalui 13 kategori informasi yang berbeda. Berikut adalah rincian dari setiap kategori tersebut:

color: Spesifikasi apakah film disajikan dalam format berwarna atau hitam putih.

director_name: Nama dari sutradara yang mengarahkan film.

duration: Total waktu tayang film dalam satuan menit.

gross: Jumlah pendapatan kotor yang berhasil dikumpulkan film dari penayangan di bioskop.

genres: Kategori atau genre dari film, yang bisa lebih dari satu dan dipisahkan oleh simbol '|'.

movie_title: Judul resmi dari film.

title_year: Tahun saat film pertama kali dirilis.

language: Bahasa utama yang digunakan dalam dialog film.

country: Negara asal di mana film tersebut diproduksi.

budget: Total biaya yang dihabiskan untuk produksi film.

imdb_score: Nilai rating film di platform IMDb dengan rentang 1 hingga 10.

actors: Daftar nama beberapa pemeran utama dalam film.

movie_facebook_likes: Total jumlah "suka" (likes) yang diterima oleh halaman Facebook resmi film tersebut.

Secara keseluruhan, dataset ini menyajikan gambaran lengkap mengenai berbagai film. Setiap entri (baris) mewakili satu film unik, dengan kolom yang merinci aspek produksi (seperti sutradara dan anggaran) serta data mengenai popularitasnya (seperti pendapatan, skor IMDb, dan jumlah likes di Facebook).

kode selanjutnya bertujuan untuk memeriksa dan mengidentifikasi adanya data yang hilang (null) atau entri yang sama persis (duplikat) di dalam dataset.

In [6]:
# replace "Null" dengan NaN
df.replace("Null", np.nan, inplace = True)
df.replace("N/A", np.nan, inplace=True)
df.replace("Nan", np.nan, inplace=True)
#Cek Missing Value
print(df.isnull().sum())

Informasi umum tentang dataset: missing value
color                   11
director_name           13
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

3. Membersihkan Data

Pada bagian ini beberapa hal yang akan dilakukan:

*   Cek Data Duplikat dan menghapusnya.

*   Menghapus Data Krusial yang Kosong: Baris data yang tidak memiliki informasi pendapatan (gross) atau anggaran (budget) akan dihapus karena dianggap vital untuk analisis.
*   Mengisi Data yang Hilang:

    Kolom color yang kosong akan diisi
    dengan nilai yang paling sering muncul (modus).

    Kolom director_name yang kosong akan diberi label "Unknown".

    Kolom genres yang kosong akan diisi dengan nilai "None".

*   Memperbaiki Data Tidak Valid:

    Nilai negatif pada kolom imdb_score akan diubah menjadi positif.

    Durasi film yang tidak wajar (di atas 600 atau di bawah 10 menit) akan diganti dengan nilai tengah (median) dari keseluruhan data durasi.

In [12]:
# Cek Data Duplikat
jumlah_duplikat = df[df.duplicated(keep=False)]
print(jumlah_duplikat)
print("jumlah_duplikat : ", df.duplicated().sum())

    color      director_name  duration        gross  \
8   Color        Joss Whedon       173  623279547.0
9   Color        Joss Whedon       173  623279547.0
20  Color         Tom Hooper       158  148775460.0
21  Color         Tom Hooper       158  148775460.0
30  Color       Ridley Scott       150   65007045.0
31  Color       Ridley Scott       150   65007045.0
52  Color         Sam Mendes       143  304360277.0
53  Color         Sam Mendes       143  304360277.0
54  Color       Baz Luhrmann       143  144812796.0
55  Color       Baz Luhrmann       143  144812796.0
61  Color  Timur Bekmambetov       141          NaN
63  Color  Timur Bekmambetov       141          NaN

                       genres             movie_title  title_year language  \
8     Action|Adventure|Sci-Fi            The Avengers        2012  English
9     Action|Adventure|Sci-Fi            The Avengers        2012  English
20      Drama|Musical|Romance          Les Misérables        2012  English
21      Drama|Musical|Romance          Les Misérables        2012  English
30     Action|Adventure|Drama  Exodus: Gods and Kings        2014  English
31     Action|Adventure|Drama  Exodus: Gods and Kings        2014  English
52  Action|Adventure|Thriller                 Skyfall        2012  English
53  Action|Adventure|Thriller                 Skyfall        2012  English
54              Drama|Romance        The Great Gatsby        2013  English
55              Drama|Romance        The Great Gatsby        2013  English
61    Adventure|Drama|History                 Ben-Hur        2016  English
63    Adventure|Drama|History                 Ben-Hur        2016  English

      country       budget  imdb_score  \
8         USA  220000000.0         8.1
9         USA  220000000.0         8.1
20        USA   61000000.0         7.6
21        USA   61000000.0         7.6
30         UK  140000000.0         6.1
31         UK  140000000.0         6.1
52         UK  200000000.0         7.8
53         UK  200000000.0         7.8
54  Australia  105000000.0         7.3
55  Australia  105000000.0         7.3
61        USA  100000000.0         6.1
63        USA  100000000.0         6.1

                                               actors  movie_facebook_likes
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
20          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
21          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
30       Christian Bale,María Valverde,Ben Mendelsohn                 51000
31       Christian Bale,María Valverde,Ben Mendelsohn                 51000
52           Albert Finney,Helen McCrory,Rory Kinnear                 80000
53           Albert Finney,Helen McCrory,Rory Kinnear                 80000
54   Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley                115000
55   Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley                115000
61           Morgan Freeman,Ayelet Zurer,Moises Arias                     0
63           Morgan Freeman,Ayelet Zurer,Moises Arias                     0
jumlah_duplikat :  6

Terdapat sekitar 2 baris yang memiliki data yang sama di dalam 12 baris. Jadi, ada 6 baris duplikat. Baris data yang tidak memiliki informasi pendapatan (gross) atau anggaran (budget) akan dihapus karena dianggap vital untuk analisis.

In [13]:
# Menghapus baris duplikat dan memperbarui DataFrame
df.drop_duplicates(inplace=True)
print("Baris duplikat telah dihapus.")

Baris duplikat telah dihapus.

In [14]:
# Menghapus baris jika 'gross' atau 'budget' kosong
df.dropna(subset=['gross', 'budget'], inplace=True)

In [19]:
#mengisi data kosong di kolom 'color' dengan modus
df['color'].fillna(df['color'].mode()[0], inplace=True)

/tmp/ipython-input-1410063008.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['color'].fillna(df['color'].mode()[0], inplace=True)

In [20]:
#mengisi data kosong di kolom 'director_name' dengan 'unknown'
df['director_name'].fillna('Unknown', inplace=True)

/tmp/ipython-input-3040526613.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director_name'].fillna('Unknown', inplace=True)

In [21]:
#mengisi data kosong di kolom 'genres' dengan 'None'
df['genres'].fillna('None', inplace=True)

/tmp/ipython-input-1066128701.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genres'].fillna('None', inplace=True)

In [22]:
# Memperbaiki data yang tidak valid (nilai negatif) di kolom 'imdb_score' dengan fungsi nilai absolut
df.loc[~df['imdb_score'].between(0, 10), 'imdb_score'] = np.abs(df['imdb_score'])

In [23]:
# Memperbaiki data yang tidak valid di kolom 'duration'

# 1. Ubah nilai yang tidak valid menjadi NaN agar bisa kita abaikan dalam perhitungan
# Anggap saja film dengan durasi <= 10 menit atau > 600 menit (10 jam) tidak valid.
df.loc[df['duration'] <= 10, 'duration'] = np.nan
df.loc[df['duration'] > 600, 'duration'] = np.nan

# 2. Hitung median dari kolom 'duration', dengan mengabaikan nilai NaN yang baru dibuat
median_durasi = df['duration'].median()
print(f"Median durasi film adalah: {median_durasi} menit")

# 3. Isi semua nilai kosong (NaN) dengan median yang sudah dihitung
df['duration'].fillna(median_durasi, inplace=True)

Median durasi film adalah: 144.0 menit

/tmp/ipython-input-3376413625.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duration'].fillna(median_durasi, inplace=True)

In [26]:
#Hasil setelah pembersihan data
print(df.isnull().sum())

color                   0
director_name           0
duration                0
gross                   0
genres                  0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
dtype: int64

In [27]:
print(df)

     color      director_name  duration        gross  \
0    Color    Martin Scorsese     240.0  116866727.0
1    Color        Shane Black     195.0  408992272.0
2   Color   Quentin Tarantino     187.0   54116191.0
3    Color   Kenneth Lonergan     186.0      46495.0
4    Color      Peter Jackson     186.0  258355354.0
..     ...                ...       ...          ...
93   Color        Tony Gilroy     135.0  113165635.0
94   Color      Steve McQueen     134.0   56667870.0
96   Color    Paul Greengrass     134.0  107100855.0
97   Color         David Ayer     134.0   85707116.0
98   Color     Clint Eastwood     144.0   47034272.0

                                  genres                          movie_title  \
0           Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1                Action|Adventure|Sci-Fi                           Iron Man 3
2   Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                  Drama                             Margaret
4                      Adventure|Fantasy  The Hobbit: The Desolation of Smaug
..                                   ...                                  ...
93             Action|Adventure|Thriller                    The Bourne Legacy
94               Biography|Drama|History                     12 Years a Slave
96              Biography|Drama|Thriller                     Captain Phillips
97                      Action|Drama|War                                 Fury
98         Biography|Drama|Music|Musical                          Jersey Boys

    title_year language country       budget  imdb_score  \
0         2013  English     USA  100000000.0         8.2
1         2013  English     USA  200000000.0         7.2
2         2015  English     USA   44000000.0         7.9
3         2011  English     usa   14000000.0         6.5
4         2013  English     USA  225000000.0         7.9
..         ...      ...     ...          ...         ...
93        2012  English     USA  125000000.0         6.7
94        2013  English     USA   20000000.0         8.1
96        2013  English     USA   55000000.0         7.9
97        2014  English     USA   68000000.0         7.6
98        2014  English     USA   40000000.0         6.9

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
..                                                ...                   ...
93              Jeremy Renner,Scott Glenn,Stacy Keach                 31000
94       Quvenzhané Wallis,Scoot McNairy,Taran Killam                 83000
96             Tom Hanks,Chris Mulkey,Michael Chernus                 65000
97                 Brad Pitt,Logan Lerman,Jim Parrack                 82000
98      Johnny Cannizzaro,Steve Schirripa,Scott Vance                 16000

[84 rows x 13 columns]

4. Transformasi Data

Pada bagian ini, akan dilakukan transformasi data, yang tujuan utamanya adalah mengubah dan menyesuaikan format data agar lebih konsisten dan siap untuk dianalisis lebih lanjut.

*   Mengubah beberapa kolom menjadi tipe data numerik.
*   Memisahkan (splitting) kolom genres.
*   Menyeragamkan (standardize) kolom color dan country.

In [28]:
# Mengubah tipe data kolom menjadi tipe data yang sesuai
numeric_cols = ['duration', 'gross', 'title_year', 'budget', 'imdb_score']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [29]:
# Memisahkan kolom 'genres'

# 1. Pisahkan kolom 'genres' berdasarkan tanda '|' menjadi sebuah DataFrame baru
df_genre_terpisah = df['genres'].str.split('|', expand=True)

# 2. Buat nama kolom baru seperti 'genre_1', 'genre_2', dst.
nama_kolom_baru = [f'genre_{i+1}' for i in range(df_genre_terpisah.shape[1])]
df_genre_terpisah.columns = nama_kolom_baru

# 3. Gabungkan kolom-kolom genre yang baru dengan DataFrame asli
df_dengan_genre = pd.concat([df, df_genre_terpisah], axis=1)

# Mengisi nilai kosong yang mungkin muncul setelah penggabungan dengan 'None' (atau teks lain)
df_dengan_genre.fillna('None', inplace=True)

# Hasil
# Menampilkan 5 baris pertama dari DataFrame yang sudah digabungkan
print(df_dengan_genre.head())

    color      director_name  duration        gross  \
0   Color    Martin Scorsese     240.0  116866727.0
1   Color        Shane Black     195.0  408992272.0
2  Color   Quentin Tarantino     187.0   54116191.0
3   Color   Kenneth Lonergan     186.0      46495.0
4   Color      Peter Jackson     186.0  258355354.0

                                 genres                          movie_title  \
0          Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1               Action|Adventure|Sci-Fi                           Iron Man 3
2  Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                 Drama                             Margaret
4                     Adventure|Fantasy  The Hobbit: The Desolation of Smaug

   title_year language country       budget  imdb_score  \
0        2013  English     USA  100000000.0         8.2
1        2013  English     USA  200000000.0         7.2
2        2015  English     USA   44000000.0         7.9
3        2011  English     usa   14000000.0         6.5
4        2013  English     USA  225000000.0         7.9

                                              actors  movie_facebook_likes  \
0  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1          Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2          Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3        Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4              Aidan Turner,Adam Brown,James Nesbitt                 83000

     genre_1    genre_2  genre_3   genre_4  genre_5
0  Biography     Comedy    Crime     Drama     None
1     Action  Adventure   Sci-Fi      None     None
2      Crime      Drama  Mystery  Thriller  Western
3      Drama       None     None      None     None
4  Adventure    Fantasy     None      None     None

In [34]:
# Transformasi kolom 'country': menyeragamkan penggunaan huruf besar
df['country'] = df['country'].str.upper()

In [35]:
# Transformasi kolom 'color': menyeragamkan penggunaan huruf besar
df['color'] = df['color'].str.upper()

In [38]:
nama_file_baru = 'movie_dataset_cleaned.csv'

# Menyimpan DataFrame yang sudah bersih ke file CSV baru
# index=False digunakan agar nomor baris (index) dari DataFrame tidak ikut disimpan sebagai kolom baru
df.to_csv(nama_file_baru, index=False)

print(f"Data berhasil disimpan sebagai '{nama_file_baru}'")

Data berhasil disimpan sebagai 'movie_dataset_cleaned.csv'